<div block="blog">
    <div elem="head">
        Наш блог
    </div><!-- e:head -->
    <div elem="items">
        {% for item in blog %}
            <a href="#" elem="item">
                <div elem="img">
                    <img src="{{ item.img }}" alt="">
                </div><!-- e:img -->
                <div elem="title">
                    {{ item.title }}
                </div><!-- e:title -->
            </a><!-- e:item -->
        {% endfor %}
    </div><!-- e:items -->
    <div elem="view">
        <a href="#" elem="view-all">
            Смотреть все статьи
        </a><!-- e:view-all -->
    </div>
</div><!-- b:blog -->