.blog
    max-width 960px
    margin-right 31px
    @media screen and ( max-width 768px )
        margin-right 0
    @media screen and ( max-width 540px )
        width 100%
        @media screen and ( max-width 350px )
            max-width 100%
            margin 0 auto 25px
            padding-bottom 20px
            border-bottom 1px solid rgba(0,0,0,.1)
        @media screen and ( max-width 430px )
            margin 0 auto
    
    &__head
        margin-bottom 28px
        font-size 30px
        font-family Roboto
        font-weight 400
        color #111111
        @media screen and ( max-width 860px )
            font-size 24px
        @media screen and ( max-width 768px )
            font-size 30px
        @media screen and ( max-width 540px )
            padding 0 18px
    
    &__items
        display flex
        padding-bottom 24px
        border-bottom 1px solid rgba(0,0,0,.1)
        
        @media screen and ( max-width 768px )
            padding-bottom 0
            flex-direction column
            border-bottom none
        @media screen and ( max-width 540px )
            padding 0 18px

    &__item
        position relative
        max-width 300px
        width 100%
        margin-right 30px
        padding-bottom 25px
        text-decoration none
        
        @media screen and ( max-width 768px )
            max-width 500px
            margin 0 auto 25px
        @media screen and ( max-width 540px )
            margin-right auto
            padding 0
        
        &:last-child
            margin-right auto
        
        &:before
            content ''
            position absolute
            bottom 0
            left 0
            width 18px
            height 14px
            background url('../img/arrow-point.png') 0 0 no-repeat
            
            @media screen and ( max-width 540px )
                left auto
                right 0
    
    &__img
        margin-bottom 25px
        
        img
            max-width 100%
            @media screen and ( max-width 768px )
                max-width 500px
                width 100%
    
    &__title
        font-size 16px
        font-family Roboto
        font-weight 700
        line-height 20px
        color #111111
        @media screen and ( max-width 540px )
            padding-right 20px
        
        &:hover
            color #179cde
    
    @media screen and ( max-width 540px )
        &__view
            padding 0 18px

    &__view-all
        display: block
        width 191px
        margin 30px 0 0
        padding 13px 18px
        font-size 16px
        font-family "Arial"
        font-weight 400
        color #ffffff
        text-decoration none
        border-radius 4px
        background-color #179cde
        transition background-color 0.8s
        
        @media screen and ( max-width 768px )
            max-width 500px
            width 100%
            margin 0px auto 25px
            text-align center
        @media screen and ( max-width 540px )
            margin 0px auto 25px
        @media screen and ( max-width 350px )
            width auto
            text-align center
        
        &:hover
            background-color #137fb5
            transition background-color 0.8s