.app-header
    flex none
    background #e2f2ff url('../img/clouds.png') 50% 0 no-repeat
    background-size cover
    
    &__section
        max-width 1290px
        width 100%
        margin 0 auto
        @media screen and ( max-width 900px )
            padding 0 18px
    
    &__down-telegram
        position relative
        padding-left 20px
        font-size 16px
        font-family 'Roboto'
        font-weight 700
        color #111111
        text-decoration none
        transition color 0.8s
        
        &:hover
            color #179cde
            transition color 0.8s
        
        &:before
            content ''
            position absolute
            top 50%
            left 0
            margin-top -6px
            width 11px
            height 13px
            background url('../img/download.png') 0 0 no-repeat
    
    &__secrets-telegram
        position relative
        display inline-block
        padding 11px 15px 11px 42px
        font-size 16px
        font-family "Arial"
        font-weight 400
        color #111111
        text-decoration none
        border 2px solid transparent
        border-radius 4px
        background-color #ffffff
        transition border 0.8s
        
        @media screen and ( max-width 600px )
            padding 9px 15px 8px 35px
            font-size 13px
        
        &:hover
            border 2px solid #00a5e2
            background-color #ffffff
            transition border 0.8s
        
        &:before
            content ''
            position absolute
            top 50%
            left 14px
            width 18px
            height 16px
            margin-top -8px
            background url('../img/telegram.png') 0 0 no-repeat
        
            @media screen and ( max-width 600px )
                left 8px

        @media screen and ( min-width 991px ) 
            span:last-child
                    display none
        @media screen and ( max-width 990px )
            span:first-child
                    display none
        
    &__description
        display flex
        flex 1 1 auto
        max-width 500px
        margin-top 25px
        font-size 42px
        font-family 'Roboto'
        font-weight 300
        color #111111
        line-height 1
        
        @media screen and ( max-width 900px )
            margin-bottom 40px
            max-width none
        @media screen and ( max-width 540px )
            font-size 24px    

    &__top
        display flex
        align-items center
        justify-content space-between
        margin-bottom 80px
        padding 18px 0 19px
        border-bottom 1px solid rgba(0,0,0,.1)
        
        @media screen and ( max-width 900px )
            margin-bottom 30px
        @media screen and ( max-width 992px )
            padding-right 50px
        
        > *
            margin-right 10px
            &:last-child
                margin-right 0

    &__inner
        display flex
        justify-content space-between
        margin-bottom 90px
        
        @media screen and ( max-width 900px )
            flex-wrap wrap
            margin-bottom 30px