<header block="app-header">
    <div elem="section" class="site-width">
        <div elem="top">
            {% include 'logo.html' %}
            <a href="#" elem="down-telegram">
                Скачать Телеграм
            </a><!-- e:down-telegram -->
            {% include 'menu-top.html' %}
            <a href="#" elem="secrets-telegram">
                <span>Секреты и фишки Телеграм</span>
                <span>Секреты Телеграм</span>
            </a><!-- e:secrets-telegram -->
        </div><!-- e:top -->
        <div elem="main">
            <div elem="inner">
                <div elem="description">
                    Рекламная биржа
                    телеграм — зарабатывай
                    на своих каналах
                </div><!-- e:description -->
                {% include 'promo.html' %}
            </div><!-- e:inner -->
            {% include 'services.html' %}
        </div><!-- e:main -->
    </div><!-- e:section -->
</header><!-- b:app-header -->
