.menu-top
    max-width 500px
    width 100%
    @media all and (max-width 1290px)
        max-width none
        width auto
    @media screen and ( max-width 600px )
            display none
    &__nav
        padding 0
        margin 0
        list-style none
        
        li
            display inline-block
            vertical-align top

            a
                display block
                padding 0 10px
                font-size 16px
                font-family 'Roboto'
                font-weight 400
                color #111111
                text-decoration none  
                transition color 0.3s
                
                @media all and (max-width 1290px)
                    padding 0 5px
                
                &:hover
                    color #179cde  
                    transition color 0.3s