.menu-bot
    max-width 500px
    width 100%
    @media screen and ( max-width 1040px )
        max-width 340px

    &__nav
        padding 0
        margin 0
        list-style none
        
        li
            display inline-block
            vertical-align top

            a
                display block
                padding 0 10px
                font-size 14px
                font-family Roboto
                font-weight 400
                color #ffffff
                text-decoration none  
                transition color 0.3s
                
                &:hover
                    color #179cde  
                    transition color 0.3s