<div block="menu-bot">
    <ul elem="nav">
        {% for item in menuTop %}
            <li>
                <a href="#">
                    {{ item.title }}
                </a>
            </li>
        {% endfor %}
    </ul>
</div><!-- b:menu-bot -->