<div block="recommend">
    <div elem="head">
        Рекомендуем
    </div><!-- e:head -->
    <div elem="item">
        <div elem="img">
            <img src="img/recommend.png" alt="">
        </div><!-- e:img -->
        <div elem="body">
            <div elem="title">
                Запуск Telegram состоялся 14 августа 
                2013 года. Тогда был выпущен первый
                Телеграм-клиент для iOS.
            </div><!-- e:title -->
            <a href="#" elem="button">
                Подписаться
            </a>
        </div><!-- e:body -->
    </div><!-- e:item -->
</div><!-- b:recommend -->