.recommend
    max-width 300px
    @media screen and ( max-width 768px )
        max-width 500px
        width 100%
        margin 0 auto

    &__head
        margin-bottom 28px
        font-size 30px
        font-family Roboto
        font-weight 400
        color #111111
        @media screen and ( max-width 860px )
            font-size 24px
        @media screen and ( max-width 768px )
            font-size 30px
        @media screen and ( max-width 540px )
            padding 0 18px
    
    &__item
        font-size 0
        @media screen and ( max-width 540px )
            padding 0 18px
    
    &__img
        height auto
        img
            max-width 100%
            @media screen and ( max-width 768px )
                max-width 500px
                width 100%
    
    &__body
        display flex
        flex-direction column
        padding 24px 19px 25px 28px
        background-color #5c6275
        @media screen and ( max-width 860px )
            padding 24px 19px 25px

    &__title
        margin-bottom 25px
        font-size 14px
        font-family "Arial"
        font-weight 400
        line-height 20px
        color #ffffff
    
    &__button
        position relative
        width 144px
        padding 8px 44px 9px 13px 
        font-size 14px
        font-family Roboto
        font-weight 400
        color #ffffff
        border-radius 3px
        background-color #179cde
        text-decoration none
        transition background-color 0.8s

        &:hover
            background-color #1087c2
            transition background-color 0.8s

        &:before
            content ''
            position absolute
            top 10px
            right 16px
            width 18px
            height 14px
            background url('../img/promo-arrow.png') 0 0 no-repeat
            
            @media screen and ( max-width 768px )
                right 11px
        
        @media screen and ( max-width 860px )
            max-width 144px
            width auto
        @media screen and ( max-width 768px )
            padding 8px 37px 9px 8px 
