.overflowBody
    overflow hidden
.sandwich-wr
    position fixed
    top 24px
    right 0
    display flex
    order 1
    z-index 100
.app-footer__subscribe-site.hide,
.sandwich__content
    display none
    user-select none
.sandwich
    cursor pointer
    display none
    height 20px
    position absolute
    right 40px
    width 30px
    @media screen and (max-width 992px)
        display block
    @media screen and ( max-width 900px )
        right 20px
    &--active
        .sandwich__line
            &--top
                top 10px
                transform rotate(45deg)
            &--middle
                opacity 0
            &--bottom
                top 10px
                transform rotate(-45deg)
    &__line
        background-color #179cde
        display block
        height 3px
        left 0
        position absolute
        transition all linear .4s
        width 100%
        &--top
          top 0
        &--middle
          top 8px
        &--bottom
          top 16px

.sandwich-wr.sandwich--active
    top 0
    left 0
    bottom 0
    z-index 9999
    
    .app-footer__subscribe-site.hide
        bottom 0
        max-width 330px
        width auto
        margin 30px auto 0
        display block
        font-size 24px
        font-family Roboto
        font-weight 400
        color #111111
        text-align center
        
        &:hover
            color #fff
            background #44a08a

    .sandwich
        top 23px
        right 30px
        z-index 5
    .sandwich__content
        position absolute
        top 0
        left 0
        right 0
        bottom 0
        display block
        padding 66px 15px 17px
        overflow auto
        background-color #484d60
        
        .app-header__down-telegram,
        .menu-top
            display block
            
        .menu-top
            text-align center
            margin 0 auto
            li
                display block
                a
                    padding 15px 10px
                    display inline-block
                    font-size 24px
                    font-family Roboto
                    font-weight 400
                    color #ffffff
                    
                    &:hover
                        color #179cde
        
        .app-header__down-telegram
            max-width 330px
            padding 8px 10px 8px 78px
            margin 0 auto 30px
            font-size 24px
            font-family Roboto
            font-weight 400
            color #ffffff
            border 1px solid #313546
            border-radius 3px
            
            &:before
                top 20px
                left 48px
                width 18px
                height 20px
                background url('../img/mob-arrow.png') 0 0 no-repeat
            
            &:hover
                color #179cde

.app-header__top
    transition all 0.5s
               
.app-header__top.fixed
    position fixed
    top 0
    right 0
    left 0
    z-index 99
    padding-left 38px
    padding-right 88px
    border-bottom none
    background #e2f2ff
    transition all 0.5s
    
    @media screen and ( max-width 900px )
        padding-left 18px
        padding-right 68px