<div class="sandwich-wr">
    <div block="sandwich">
        <div elem="line" mods="top"></div><!-- e:line -->
        <div elem="line" mods="middle"></div><!-- e:line -->
        <div elem="line" mods="bottom"></div><!-- e:line -->
    </div><!-- b:sandwich -->
    <div class="sandwich__content">
    </div>
    <a href="#" class="app-footer__subscribe-site hide">
        Реклама на сайте
    </a>
</div>