<div block="new-channel">
    <div elem="section" class="site-width">
        <div elem="head">
            Новые каналы
            <a href="#" elem="more"></a>
        </div><!-- e:head -->
        <div elem="items">
            {% for item in newChannel %}
                <a href="#" elem="item">
                    <span elem="img">
                        <img src="{{ item.img }}" alt="">
                    </span><!-- e:img -->
                    <span elem="body">
                        <span elem="title">
                            {{ item.title }}
                        </span><!-- e:title -->
                        <span elem="text">
                            {{ item.text }}
                        </span><!-- e:text -->
                    </span><!-- e:body -->
                </a><!-- e:item -->
            {% endfor %}
        </div><!-- e:items -->
        <a href="#" elem="view-all">
            Смотреть все 16700 каналов
        </a><!-- e:view-all -->
    </div><!-- e:section -->
</div><!-- b:new-channel -->