.new-channel
    flex none
    
    @media screen and ( max-width 980px )
        &__section
            padding 0 18px
            @media screen and ( max-width 385px )
                padding 0 !important
    
    &__head
        display flex
        justify-content space-between
        margin-bottom 22px
        padding-top 22px
        font-size 30px
        font-family Roboto
        font-weight 400
        color #111111

        @media screen and ( max-width 980px )
            font-size 24px
        @media screen and ( max-width 385px )
            padding 22px 18px
            margin-bottom 0
        
    &__more
        display block
        width 102px
        height 36px
        background url('../img/new-channel-more.png') 0 0 no-repeat
        transition background 0.8s
        
        @media screen and ( max-width 385px )
            display none

        &:hover
            background url('../img/more-hov.png') 0 0 no-repeat
            transition background 0.8s
    
    &__items
        display flex
        flex-wrap wrap
        justify-content space-between
        margin-bottom 10px

    &__item
        display flex
        max-width 410px
        width 100%
        margin-bottom 20px
        padding 20px
        text-decoration none
        border-radius 5px
        border 1px solid #efefef     
        background-color #fff
        transition background-color 0.8s
        
        &:hover
            background-color #e2f2ff  
            transition background-color 0.8s
        
        @media screen and ( max-width 878px )
            max-width 360px
        @media screen and ( max-width 770px )
            max-width none
        @media screen and ( max-width 385px )
            margin-bottom 0
            border-left none
            border-right none
            border-bottom none
            border-radius 0
            padding 20px 20px 17px 20px
            
        &:last-child
            @media screen and ( max-width 385px )
                border-bottom 1px solid #efefef
    
    &__img
        display flex
        flex 1 1 100%   
        max-width 100px
        margin-right 19px
        @media screen and ( max-width 385px )
            display block
            max-width 50px
        
        img
            @media screen and ( max-width 385px )
                max-width 100%
            
    
    &__body
        position relative
        display flex
        flex-direction column
        padding-bottom 14px
        @media screen and ( max-width 385px )
            padding 0 15px 0 0
        
        &:before
            content ''
            position absolute
            bottom 0
            right 0
            width 18px
            height 14px
            background url('../img/arrow-point.png') 0 0 no-repeat
    
    &__title
        margin-bottom 8px
        font-size 16px
        font-family Roboto
        font-weight 700
        color #111111
    
    &__text
        font-size 14px
        font-family Roboto
        font-weight 400
        color #111111
        line-height 18px
        @media screen and ( max-width 385px )
            font-size 13px
    
    &__view-all
        display flex
        width 253px
        margin 0 auto 30px
        padding 13px 18px 13px
        font-size 16px
        font-family "Arial"
        font-weight 400
        color #ffffff
        text-decoration none
        border-radius 4px
        background-color #179cde
        transition background-color 0.8s
        
        @media screen and ( max-width 540px )
            justify-content center
            width auto
            text-align center
        
        @media screen and ( max-width 385px )
            margin 15px 20px
        
        &:hover
            background-color #1087c2
            transition background-color 0.8s