::-moz-selection {
  background: #3e50b4;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #3e50b4;
  color: #fff;
  text-shadow: none;
}

::-webkit-input-placeholder {
  color: rgba(0,0,0,0.87);
}

:-moz-placeholder {
  color: rgba(0,0,0,0.87);
}

::-moz-placeholder {
  color: rgba(0,0,0,0.87);
}

:-ms-input-placeholder {
  color: rgba(0,0,0,0.87);
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus:-moz-placeholder {
  color: transparent;
}

input:focus::-moz-placeholder {
  color: transparent;
}

input:focus:-ms-input-placeholder {
  color: transparent;
}

* {
  min-width: 0;
  min-height: 0;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  box-sizing: border-box;
}

html {
  font-size: 17px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
  color: rgba(0,0,0,0.87);
  background-color: #fff;
  -webkit-font-feature-settings: kern, liga, onum;
          font-feature-settings: kern, liga, onum;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  background-color: inherit;
}

blockquote {
  font-style: normal;
  padding: 15px;
  padding-left: 20px;
  border-left: 5px solid #3e50b4;
  background-color: rgba(62,80,180,0.03);
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 700;
  color: rgba(0,0,0,0.87);
  text-transform: none;
}

h1::-moz-selection,
.h1::-moz-selection,
h2::-moz-selection,
.h2::-moz-selection,
h3::-moz-selection,
.h3::-moz-selection,
h4::-moz-selection,
.h4::-moz-selection,
h5::-moz-selection,
.h5::-moz-selection,
h6::-moz-selection,
.h6::-moz-selection {
  background: #3e50b4;
  color: #fff;
  text-shadow: none;
}

h1::selection,
.h1::selection,
h2::selection,
.h2::selection,
h3::selection,
.h3::selection,
h4::selection,
.h4::selection,
h5::selection,
.h5::selection,
h6::selection,
.h6::selection {
  background: #3e50b4;
  color: #fff;
  text-shadow: none;
}

template,
[hidden] {
  display: none;
}

.font-thin {
  font-weight: 100;
}

.font-light {
  font-weight: 300;
}

.font-regular {
  font-weight: 400;
}

.font-medium {
  font-weight: 500;
}

.font-bold {
  font-weight: 700;
}

.font-black {
  font-weight: 900;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  -webkit-overflow-scrolling: touch;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

svg:not(:root) {
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}

.main-svg-sprite {
  display: none;
}

.svg-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  fill: currentColor;
}

.svg-icon__spinner {
  fill: inherit;
  width: inherit;
  height: inherit;
  -webkit-animation-name: spinner;
          animation-name: spinner;
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.svg-icon__link {
  vertical-align: top;
  fill: inherit;
  width: inherit;
  height: inherit;
}

@-webkit-keyframes spinner {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spinner {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.gallery {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 20px 0 0 -15px;
}

.gallery a {
  display: block;
  background-image: none;
}

.gallery img,
.gallery .attachment-thumbnail {
  vertical-align: top;
  width: 100%;
  height: auto;
}

.gallery .gallery-caption {
  padding: 15px 0;
}

.gallery.gallery-columns-1 .gallery-item {
  max-width: 100%;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  padding: 0 0 15px 15px;
  margin: 0;
}

.gallery.gallery-columns-2 .gallery-item {
  max-width: 50%;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding: 0 0 15px 15px;
  margin: 0;
}

.gallery.gallery-columns-3 .gallery-item {
  max-width: 33.333333333333336%;
  -ms-flex-preferred-size: 33.333333333333336%;
      flex-basis: 33.333333333333336%;
  padding: 0 0 15px 15px;
  margin: 0;
}

.gallery.gallery-columns-4 .gallery-item {
  max-width: 25%;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  padding: 0 0 15px 15px;
  margin: 0;
}

.gallery.gallery-columns-5 .gallery-item {
  max-width: 20%;
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  padding: 0 0 15px 15px;
  margin: 0;
}

.gallery.gallery-columns-6 .gallery-item {
  max-width: 16.666666666666668%;
  -ms-flex-preferred-size: 16.666666666666668%;
      flex-basis: 16.666666666666668%;
  padding: 0 0 15px 15px;
  margin: 0;
}

.gallery.gallery-columns-7 .gallery-item {
  max-width: 14.285714285714286%;
  -ms-flex-preferred-size: 14.285714285714286%;
      flex-basis: 14.285714285714286%;
  padding: 0 0 15px 15px;
  margin: 0;
}

.gallery.gallery-columns-8 .gallery-item {
  max-width: 12.5%;
  -ms-flex-preferred-size: 12.5%;
      flex-basis: 12.5%;
  padding: 0 0 15px 15px;
  margin: 0;
}

.gallery.gallery-columns-9 .gallery-item {
  max-width: 11.11111111111111%;
  -ms-flex-preferred-size: 11.11111111111111%;
      flex-basis: 11.11111111111111%;
  padding: 0 0 15px 15px;
  margin: 0;
}

.alignnone {
  margin: 0.5rem;
}

.aligncenter {
  display: block;
  margin: 0.5rem auto;
}

.alignleft {
  float: left;
  margin: 0 20px 20px 0;
}

.alignright {
  float: right;
  margin: 0 0 20px 20px;
}

.wp-caption {
  max-width: 100%;
}

.wp-caption-text {
  padding-top: 5px;
}

.wp-caption img {
  width: 100%;
  height: auto;
}

.gallery-caption,
.wp-caption-text {
  font-size: 90%;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 20px 0;
  background: #ccc;
  color: #000;
  padding: 20px 0;
}

.demo-box {
  background-color: #009688;
  color: #fff;
  text-align: center;
  padding: 20px;
}

.theme-color {
  color: #3e50b4;
}

.theme-bgc {
  background-color: #3e50b4;
}

.app-footer {
  -ms-flex: none;
      flex: none;
  background-color: #333;
}

.app-footer__section.site-width {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  padding: 16px 0;
}

.app-footer__subscribe {
  padding-left: 25px;
  font-size: 14px;
  font-family: Roboto;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  background: url("../img/subscribe.png") 0 2px no-repeat;
}

.app-footer__subscribe:hover {
  color: #179cde;
}

.app-footer__subscribe-site {
  display: block;
  width: 144px;
  padding: 11px 13px;
  font-size: 14px;
  font-family: Roboto;
  font-weight: 400;
  color: #111;
  text-decoration: none;
  border-radius: 3px;
  background-color: #4bceaf;
  transition: background-color 0.8s;
}

.app-footer__subscribe-site:hover {
  background-color: #28967c;
  transition: background-color 0.8s;
}

.app-footer__copyright {
  font-size: 14px;
  font-family: Roboto;
  font-weight: 400;
  color: #fff;
}

.app-header {
  -ms-flex: none;
      flex: none;
  background: #e2f2ff url("../img/clouds.png") 50% 0 no-repeat;
  background-size: cover;
}

.app-header__section {
  max-width: 1290px;
  width: 100%;
  margin: 0 auto;
}

.app-header__down-telegram {
  position: relative;
  padding-left: 20px;
  font-size: 16px;
  font-family: 'Roboto';
  font-weight: 700;
  color: #111;
  text-decoration: none;
  transition: color 0.8s;
}

.app-header__down-telegram:hover {
  color: #179cde;
  transition: color 0.8s;
}

.app-header__down-telegram:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -6px;
  width: 11px;
  height: 13px;
  background: url("../img/download.png") 0 0 no-repeat;
}

.app-header__secrets-telegram {
  position: relative;
  display: inline-block;
  padding: 11px 15px 11px 42px;
  font-size: 16px;
  font-family: "Arial";
  font-weight: 400;
  color: #111;
  text-decoration: none;
  border: 2px solid transparent;
  border-radius: 4px;
  background-color: #fff;
  transition: border 0.8s;
}

.app-header__secrets-telegram:hover {
  border: 2px solid #00a5e2;
  background-color: #fff;
  transition: border 0.8s;
}

.app-header__secrets-telegram:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 14px;
  width: 18px;
  height: 16px;
  margin-top: -8px;
  background: url("../img/telegram.png") 0 0 no-repeat;
}

.app-header__description {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1 1 auto;
      flex: 1 1 auto;
  max-width: 500px;
  margin-top: 25px;
  font-size: 42px;
  font-family: 'Roboto';
  font-weight: 300;
  color: #111;
  line-height: 1;
}

.app-header__top {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
  margin-bottom: 80px;
  padding: 18px 0 19px;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

.app-header__top > * {
  margin-right: 10px;
}

.app-header__top > *:last-child {
  margin-right: 0;
}

.app-header__inner {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  margin-bottom: 90px;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  position: relative;
}

html {
  min-height: 100%;
  min-height: 100vh;
}

.site-width {
  max-width: 1290px;
  width: 100%;
  margin: 0 auto;
}

.app {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  height: 100%;
  height: 100vh;
}

.app__wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  height: 100%;
  height: 100vh;
}

.app__content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1 0 auto;
      flex: 1 0 auto;
}

.app__main {
  -ms-flex: 1 1;
      flex: 1 1;
}

.app__aside--left {
  -ms-flex-order: -1;
      order: -1;
  -ms-flex: 0 0 300px;
      flex: 0 0 300px;
}

.app__aside--right {
  -ms-flex: 0 0 300px;
      flex: 0 0 300px;
}

.banNews {
  display: block;
  min-height: 130px;
  background: url("../img/banNews.png") 50% 0 no-repeat;
  cursor: pointer;
}

.blog {
  max-width: 960px;
  margin-right: 31px;
}

.blog__head {
  margin-bottom: 28px;
  font-size: 30px;
  font-family: Roboto;
  font-weight: 400;
  color: #111;
}

.blog__items {
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 24px;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

.blog__item {
  position: relative;
  max-width: 300px;
  width: 100%;
  margin-right: 30px;
  padding-bottom: 25px;
  text-decoration: none;
}

.blog__item:last-child {
  margin-right: auto;
}

.blog__item:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 18px;
  height: 14px;
  background: url("../img/arrow-point.png") 0 0 no-repeat;
}

.blog__img {
  margin-bottom: 25px;
}

.blog__img img {
  max-width: 100%;
}

.blog__title {
  font-size: 16px;
  font-family: Roboto;
  font-weight: 700;
  line-height: 20px;
  color: #111;
}

.blog__title:hover {
  color: #179cde;
}

.blog__view-all {
  display: block;
  width: 191px;
  margin: 30px 0 0;
  padding: 13px 18px;
  font-size: 16px;
  font-family: "Arial";
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  background-color: #179cde;
  transition: background-color 0.8s;
}

.blog__view-all:hover {
  background-color: #137fb5;
  transition: background-color 0.8s;
}

.foots-block {
  -ms-flex: none;
      flex: none;
}

.foots-block__section {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin: 26px auto 30px auto;
}

.flesh-bots {
  -ms-flex: none;
      flex: none;
}

.flesh-bots__head {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  margin-bottom: 22px;
  padding-top: 22px;
  font-size: 30px;
  font-family: Roboto;
  font-weight: 400;
  color: #111;
}

.flesh-bots__more {
  display: block;
  width: 102px;
  height: 36px;
  background: url("../img/new-channel-more.png") 0 0 no-repeat;
  transition: background0 0.8s;
}

.flesh-bots__more:hover {
  background: url("../img/more-hov.png") 0 0 no-repeat;
  transition: background 0.8s;
}

.flesh-bots__items {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
  margin-bottom: 10px;
}

.flesh-bots__item {
  display: -ms-flexbox;
  display: flex;
  max-width: 410px;
  width: 100%;
  margin-bottom: 20px;
  padding: 20px;
  text-decoration: none;
  border-radius: 5px;
  border: 1px solid #efefef;
  background-color: #fff;
  transition: background-color 0.8s;
}

.flesh-bots__item:hover {
  background-color: #e2f2ff;
  transition: background-color 0.8s;
}

.flesh-bots__img {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1 1 100%;
      flex: 1 1 100%;
  max-width: 100px;
  margin-right: 19px;
}

.flesh-bots__body {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  padding-bottom: 14px;
}

.flesh-bots__body:before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 18px;
  height: 14px;
  background: url("../img/arrow-point.png") 0 0 no-repeat;
}

.flesh-bots__title {
  margin-bottom: 8px;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 700;
  color: #111;
}

.flesh-bots__text {
  font-size: 14px;
  font-family: Roboto;
  font-weight: 400;
  color: #111;
  line-height: 18px;
}

.flesh-bots__view-all {
  display: -ms-flexbox;
  display: flex;
  width: 253px;
  margin: 0 auto 30px;
  padding: 13px 18px 13px;
  font-size: 16px;
  font-family: "Arial";
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  background-color: #179cde;
  transition: background-color 0.8s;
}

.flesh-bots__view-all:hover {
  background: #1087c2;
  transition: background-color 0.8s;
}

.logo {
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1.8px;
  min-width: 90px;
}

.logo__bg-left {
  display: inline-block;
  vertical-align: top;
  padding: 14px 7px 11px 15px;
  font-size: 30px;
  font-family: "Bebas Neue";
  font-weight: bold;
  color: #fff;
  line-height: 19.06px;
  border-radius: 5px 0 0 5px;
  background-color: #179cde;
}

.logo__bg-right {
  display: inline-block;
  vertical-align: top;
  padding: 14px 15px 11px 8px;
  font-size: 30px;
  font-family: "Bebas Neue";
  font-weight: bold;
  color: #fff;
  line-height: 19.06px;
  border-radius: 0 5px 5px 0;
  background-color: #5c6275;
}

.menu-bot {
  max-width: 500px;
  width: 100%;
}

.menu-bot__nav {
  padding: 0;
  margin: 0;
  list-style: none;
}

.menu-bot__nav li {
  display: inline-block;
  vertical-align: top;
}

.menu-bot__nav li a {
  display: block;
  padding: 0 10px;
  font-size: 14px;
  font-family: Roboto;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.menu-bot__nav li a:hover {
  color: #179cde;
  transition: color 0.3s;
}

.menu-top {
  max-width: 500px;
  width: 100%;
}

.menu-top__nav {
  padding: 0;
  margin: 0;
  list-style: none;
}

.menu-top__nav li {
  display: inline-block;
  vertical-align: top;
}

.menu-top__nav li a {
  display: block;
  padding: 0 10px;
  font-size: 16px;
  font-family: 'Roboto';
  font-weight: 400;
  color: #111;
  text-decoration: none;
  transition: color 0.3s;
}

.menu-top__nav li a:hover {
  color: #179cde;
  transition: color 0.3s;
}

.new-channel {
  -ms-flex: none;
      flex: none;
}

.new-channel__head {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  margin-bottom: 22px;
  padding-top: 22px;
  font-size: 30px;
  font-family: Roboto;
  font-weight: 400;
  color: #111;
}

.new-channel__more {
  display: block;
  width: 102px;
  height: 36px;
  background: url("../img/new-channel-more.png") 0 0 no-repeat;
  transition: background 0.8s;
}

.new-channel__more:hover {
  background: url("../img/more-hov.png") 0 0 no-repeat;
  transition: background 0.8s;
}

.new-channel__items {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
  margin-bottom: 10px;
}

.new-channel__item {
  display: -ms-flexbox;
  display: flex;
  max-width: 410px;
  width: 100%;
  margin-bottom: 20px;
  padding: 20px;
  text-decoration: none;
  border-radius: 5px;
  border: 1px solid #efefef;
  background-color: #fff;
  transition: background-color 0.8s;
}

.new-channel__item:hover {
  background-color: #e2f2ff;
  transition: background-color 0.8s;
}

.new-channel__img {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1 1 100%;
      flex: 1 1 100%;
  max-width: 100px;
  margin-right: 19px;
}

.new-channel__body {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  padding-bottom: 14px;
}

.new-channel__body:before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 18px;
  height: 14px;
  background: url("../img/arrow-point.png") 0 0 no-repeat;
}

.new-channel__title {
  margin-bottom: 8px;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 700;
  color: #111;
}

.new-channel__text {
  font-size: 14px;
  font-family: Roboto;
  font-weight: 400;
  color: #111;
  line-height: 18px;
}

.new-channel__view-all {
  display: -ms-flexbox;
  display: flex;
  width: 253px;
  margin: 0 auto 30px;
  padding: 13px 18px 13px;
  font-size: 16px;
  font-family: "Arial";
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  background-color: #179cde;
  transition: background-color 0.8s;
}

.new-channel__view-all:hover {
  background-color: #1087c2;
  transition: background-color 0.8s;
}

.new-stickers {
  -ms-flex: none;
      flex: none;
  background-color: #5c6275;
}

.new-stickers__head {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  margin-bottom: 22px;
  padding-top: 22px;
  font-size: 30px;
  font-family: Roboto;
  font-weight: 400;
  color: #fff;
}

.new-stickers__more {
  display: block;
  width: 102px;
  height: 36px;
  background: url("../img/new-stickers-more.png") 0 0 no-repeat;
  transition: background 0.8s;
}

.new-stickers__more:hover {
  background: url("../img/stickers-more-hov.png") 0 0 no-repeat;
  transition: background 0.8s;
}

.new-stickers__items {
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}

.new-stickers__item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  max-width: 190px;
  width: 100%;
  height: 190px;
  margin: 0 30px 20px 0;
  font-size: 0;
  text-align: center;
  text-decoration: none;
  background: #fff;
  border: 2px solid transparent;
  transition: border 0.8s;
}

.new-stickers__item:hover {
  border: 2px solid #4bceaf;
  transition: border 0.8s;
}

.new-stickers__item:nth-child(1) {
  display: -ms-flexbox;
  display: flex;
}

.new-stickers__item:nth-child(2) {
  display: -ms-flexbox;
  display: flex;
}

.new-stickers__item:nth-child(3) {
  display: -ms-flexbox;
  display: flex;
}

.new-stickers__item--last {
  position: relative;
  -ms-flex-align: start;
      align-items: flex-start;
  -ms-flex-pack: start;
      justify-content: flex-start;
  margin-right: 0;
  padding: 27px 29px 128px 29px;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 700;
  line-height: 20px;
  color: #fff;
  text-align: left;
  background-color: #484d60;
}

.new-stickers__item--last:before {
  content: '';
  position: absolute;
  bottom: 19px;
  right: 20px;
  width: 18px;
  height: 14px;
  background: url("../img/arrow-point.png") 0 0 no-repeat;
}

.new-stickers__item--last .hide {
  margin: 0;
}

.new-stickers__item--last .hide img {
  display: none;
}

.new-stickers__img img {
  max-width: 100%;
}

.page-scroller {
  opacity: 0;
  position: fixed;
  z-index: 1050;
  top: 0;
  left: 0;
  width: 60px;
  height: 100%;
  height: 100vh;
  background-color: rgba(62,80,180,0.1);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  transition: opacity 0.16s linear;
  pointer-events: none;
}

.page-scroller__ctrl {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -12px;
  margin-left: -12px;
  transition: -webkit-transform 0.25s linear;
  transition: transform 0.25s linear;
  transition: transform 0.25s linear, -webkit-transform 0.25s linear;
  fill: #666;
  width: 24px;
  height: 24px;
}

.page-scroller:hover,
.page-scroller:focus {
  background-color: rgba(62,80,180,0.12);
}

.page-scroller:active {
  background-color: rgba(62,80,180,0.14);
}

.page-scroller--memorized .page-scroller__ctrl {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.page-scroller--memorized,
.page-scroller--visible {
  opacity: 1;
  pointer-events: auto;
}

.promo {
  display: -ms-flexbox;
  display: flex;
  width: 630px;
  padding: 30px;
  border-radius: 5px;
  background-color: #5c6275;
}

.promo__img {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1 0 auto;
      flex: 1 0 auto;
  margin-right: 30px;
}

.promo__body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}

.promo__title {
  margin-bottom: 12px;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 700;
  color: #fff;
}

.promo__text {
  margin-bottom: 18px;
  font-size: 14px;
  font-family: Roboto;
  font-weight: 400;
  color: #fff;
}

.promo__button {
  position: relative;
  padding: 8px 40px 9px 15px;
  width: 144px;
  font-size: 14px;
  font-family: Roboto;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  border-radius: 3px;
  background-color: #179cde;
  transition: background-color 0.8s;
}

.promo__button:hover {
  background-color: #1087c2;
  transition: background-color 0.8s;
}

.promo__button:before {
  content: '';
  position: absolute;
  top: 11px;
  right: 16px;
  width: 18px;
  height: 14px;
  background: url("../img/promo-arrow.png") 0 0 no-repeat;
}

.recommend {
  max-width: 300px;
}

.recommend__head {
  margin-bottom: 28px;
  font-size: 30px;
  font-family: Roboto;
  font-weight: 400;
  color: #111;
}

.recommend__item {
  font-size: 0;
}

.recommend__img {
  height: auto;
}

.recommend__img img {
  max-width: 100%;
}

.recommend__body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  padding: 24px 19px 25px 28px;
  background-color: #5c6275;
}

.recommend__title {
  margin-bottom: 25px;
  font-size: 14px;
  font-family: "Arial";
  font-weight: 400;
  line-height: 20px;
  color: #fff;
}

.recommend__button {
  position: relative;
  width: 144px;
  padding: 8px 44px 9px 13px;
  font-size: 14px;
  font-family: Roboto;
  font-weight: 400;
  color: #fff;
  border-radius: 3px;
  background-color: #179cde;
  text-decoration: none;
  transition: background-color 0.8s;
}

.recommend__button:hover {
  background-color: #1087c2;
  transition: background-color 0.8s;
}

.recommend__button:before {
  content: '';
  position: absolute;
  top: 10px;
  right: 16px;
  width: 18px;
  height: 14px;
  background: url("../img/promo-arrow.png") 0 0 no-repeat;
}

.overflowBody {
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}

.sandwich-wr {
  position: fixed;
  top: 24px;
  right: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-order: 1;
      order: 1;
  z-index: 100;
}

.app-footer__subscribe-site.hide,
.sandwich__content {
  display: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.sandwich {
  cursor: pointer;
  display: none;
  height: 20px;
  position: absolute;
  right: 40px;
  width: 30px;
}

.sandwich--active .sandwich__line--top {
  top: 10px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.sandwich--active .sandwich__line--middle {
  opacity: 0;
}

.sandwich--active .sandwich__line--bottom {
  top: 10px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.sandwich__line {
  background-color: #179cde;
  display: block;
  height: 3px;
  left: 0;
  position: absolute;
  transition: all linear 0.4s;
  width: 100%;
}

.sandwich__line--top {
  top: 0;
}

.sandwich__line--middle {
  top: 8px;
}

.sandwich__line--bottom {
  top: 16px;
}

.sandwich-wr.sandwich--active {
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 9999;
}

.sandwich-wr.sandwich--active .app-footer__subscribe-site.hide {
  bottom: 0;
  max-width: 330px;
  width: auto;
  margin: 30px auto 0;
  display: block;
  font-size: 24px;
  font-family: Roboto;
  font-weight: 400;
  color: #111;
  text-align: center;
}

.sandwich-wr.sandwich--active .app-footer__subscribe-site.hide:hover {
  color: #fff;
  background: #44a08a;
}

.sandwich-wr.sandwich--active .sandwich {
  top: 23px;
  right: 30px;
  z-index: 5;
}

.sandwich-wr.sandwich--active .sandwich__content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  padding: 66px 15px 17px;
  overflow: auto;
  background-color: #484d60;
  -webkit-overflow-scrolling: touch;
}

.sandwich-wr.sandwich--active .sandwich__content .app-header__down-telegram,
.sandwich-wr.sandwich--active .sandwich__content .menu-top {
  display: block;
}

.sandwich-wr.sandwich--active .sandwich__content .menu-top {
  text-align: center;
  margin: 0 auto;
}

.sandwich-wr.sandwich--active .sandwich__content .menu-top li {
  display: block;
}

.sandwich-wr.sandwich--active .sandwich__content .menu-top li a {
  padding: 15px 10px;
  display: inline-block;
  font-size: 24px;
  font-family: Roboto;
  font-weight: 400;
  color: #fff;
}

.sandwich-wr.sandwich--active .sandwich__content .menu-top li a:hover {
  color: #179cde;
}

.sandwich-wr.sandwich--active .sandwich__content .app-header__down-telegram {
  max-width: 330px;
  padding: 8px 10px 8px 78px;
  margin: 0 auto 30px;
  font-size: 24px;
  font-family: Roboto;
  font-weight: 400;
  color: #fff;
  border: 1px solid #313546;
  border-radius: 3px;
}

.sandwich-wr.sandwich--active .sandwich__content .app-header__down-telegram:before {
  top: 20px;
  left: 48px;
  width: 18px;
  height: 20px;
  background: url("../img/mob-arrow.png") 0 0 no-repeat;
}

.sandwich-wr.sandwich--active .sandwich__content .app-header__down-telegram:hover {
  color: #179cde;
}

.app-header__top {
  transition: all 0.5s;
}

.app-header__top.fixed {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 99;
  padding-left: 38px;
  padding-right: 88px;
  border-bottom: none;
  background: #e2f2ff;
  transition: all 0.5s;
}

.services {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  margin-bottom: 30px;
}

.services__item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  max-width: 300px;
  width: 100%;
  padding: 14px 28px 12px;
  text-decoration: none;
  border-radius: 5px;
  background-color: #fff;
  transition: background-color 0.8s;
}

.services__item:hover {
  background-color: #4bceaf;
  transition: background-color 0.8s;
}

.services__item:hover .svg-icon {
  fill: #fff;
}

.services__img {
  margin-right: 26px;
}

.services__img .svg-icon {
  width: 50px;
  height: 50px;
  fill: #4bceaf;
}

.services__number {
  font-size: 28px;
  font-family: Roboto;
  font-weight: 400;
  color: #111;
  line-height: 1;
}

.services__title {
  display: block;
  font-size: 14px;
  font-family: Roboto;
  font-weight: 400;
  color: #111;
  line-height: 1;
}

@media screen and (min-width: 901px) {
  .services .hidden-serv {
    display: none;
  }
}

@media screen and (min-width: 991px) {
  .app-header__secrets-telegram span:last-child {
    display: none;
  }
}

@media screen and (max-width: 1290px) {
  .app-footer__section.site-width {
    padding: 16px 38px;
  }

  .services__item {
    max-width: 250px;
  }
}

@media all and (max-width: 1290px) {
  .site-width {
    padding: 0 38px;
  }

  .menu-top {
    max-width: none;
    width: auto;
  }

  .menu-top__nav li a {
    padding: 0 5px;
  }
}

@media screen and (max-width: 1110px) {
  .services__item {
    max-width: 200px;
  }
}

@media screen and (max-width: 1080px) {
  .new-stickers__items {
    -ms-flex-pack: justify;
        justify-content: space-between;
  }

  .new-stickers__item {
    display: none;
  }

  .new-stickers__item--last {
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 1040px) {
  .menu-bot {
    max-width: 340px;
  }
}

@media screen and (max-width: 992px) {
  .app-header__top {
    padding-right: 50px;
  }

  .sandwich {
    display: block;
  }
}

@media screen and (max-width: 990px) {
  .app-header__secrets-telegram span:first-child {
    display: none;
  }
}

@media screen and (max-width: 980px) and (max-width: 385px) {
  .flesh-bots__section {
    padding: 0 !important;
  }

  .new-channel__section {
    padding: 0 !important;
  }

  .new-stickers__section {
    padding: 0 15px !important;
  }
}

@media screen and (max-width: 980px) {
  .app-footer__section.site-width {
    padding: 16px 18px;
  }

  .foots-block__section {
    padding: 0 18px;
  }

  .flesh-bots__section {
    padding: 0 18px;
  }

  .new-channel__section {
    padding: 0 18px;
  }

  .new-channel__head {
    font-size: 24px;
  }

  .new-stickers__section {
    padding: 0 18px;
  }
}

@media screen and (max-width: 900px) {
  .app-header__section {
    padding: 0 18px;
  }

  .app-header__description {
    margin-bottom: 40px;
    max-width: none;
  }

  .app-header__top {
    margin-bottom: 30px;
  }

  .app-header__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 30px;
  }

  .promo {
    width: auto;
  }

  .sandwich {
    right: 20px;
  }

  .app-header__top.fixed {
    padding-left: 18px;
    padding-right: 68px;
  }

  .services .hidden-serv-first {
    display: none;
  }
}

@media screen and (max-width: 878px) {
  .flesh-bots__item {
    max-width: 360px;
  }

  .new-channel__item {
    max-width: 360px;
  }
}

@media screen and (max-width: 866px) {
  .app-footer__section.site-width {
    -ms-flex-direction: column;
        flex-direction: column;
  }

  .app-footer__section.site-width > * {
    margin-bottom: 15px;
  }

  .app-footer__subscribe {
    padding: 20px 0 0;
    background: url("../img/subscribe.png") 50% 0px no-repeat;
  }
}

@media screen and (max-width: 860px) {
  .blog__head {
    font-size: 24px;
  }

  .flesh-bots__head {
    font-size: 24px;
  }

  .logo > * {
    font-size: 20px;
  }

  .logo__bg-left {
    padding: 12px 7px 9px 8px;
  }

  .logo__bg-right {
    padding: 12px 10px 9px 8px;
  }

  .new-stickers__head {
    font-size: 24px;
  }

  .recommend__head {
    font-size: 24px;
  }

  .recommend__body {
    padding: 24px 19px 25px;
  }

  .recommend__button {
    max-width: 144px;
    width: auto;
  }

  .services__item {
    max-width: 170px;
    padding: 14px 15px 12px;
  }

  .services__number {
    font-size: 19px;
  }

  .services__title {
    font-size: 12px;
  }
}

@media screen and (max-width: 770px) {
  .flesh-bots__item {
    max-width: none;
  }

  .new-channel__item {
    max-width: none;
  }
}

@media screen and (max-width: 768px) {
  .blog {
    margin-right: 0;
  }

  .blog__head {
    font-size: 30px;
  }

  .blog__items {
    padding-bottom: 0;
    -ms-flex-direction: column;
        flex-direction: column;
    border-bottom: none;
  }

  .blog__item {
    max-width: 500px;
    margin: 0 auto 25px;
  }

  .blog__img img {
    max-width: 500px;
    width: 100%;
  }

  .blog__view-all {
    max-width: 500px;
    width: 100%;
    margin: 0px auto 25px;
    text-align: center;
  }

  .foots-block__section {
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-direction: column;
        flex-direction: column;
  }

  .new-stickers__item {
    max-height: 100%;
    height: auto;
  }

  .new-stickers__item--last {
    padding-bottom: 60px;
  }

  .recommend {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
  }

  .recommend__head {
    font-size: 30px;
  }

  .recommend__img img {
    max-width: 500px;
    width: 100%;
  }

  .recommend__button:before {
    right: 11px;
  }

  .recommend__button {
    padding: 8px 37px 9px 8px;
  }
}

@media screen and (max-width: 730px) {
  .services {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 610px;
    margin: 0 auto 30px;
  }

  .services__item {
    max-width: 300px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 650px) {
  .services {
    width: 480px;
    margin: 0 auto 10px;
  }

  .services__item {
    max-width: 250px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 600px) {
  .app-header__secrets-telegram {
    padding: 9px 15px 8px 35px;
    font-size: 13px;
  }

  .app-header__secrets-telegram:before {
    left: 8px;
  }

  .logo__bg-left {
    padding: 9px 10px 8px 8px;
  }

  .logo__bg-right {
    padding: 9px 10px 8px 8px;
  }

  .menu-top {
    display: none;
  }

  .new-stickers__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    max-width: 420px;
    margin: 0 auto;
  }

  .new-stickers__item {
    margin-right: 0;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 572px) {
  .services__item {
    max-width: 230px;
  }
}

@media screen and (max-width: 550px) {
  .services__item {
    max-width: 220px;
  }
}

@media screen and (max-width: 540px) and (max-width: 350px) {
  .blog {
    max-width: 100%;
    margin: 0 auto 25px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
  }
}

@media screen and (max-width: 540px) and (max-width: 430px) {
  .blog {
    margin: 0 auto;
  }
}

@media screen and (max-width: 540px) {
  .app-header__description {
    font-size: 24px;
  }

  .blog {
    width: 100%;
  }

  .blog__head {
    padding: 0 18px;
  }

  .blog__items {
    padding: 0 18px;
  }

  .blog__item {
    margin-right: auto;
    padding: 0;
  }

  .blog__item:before {
    left: auto;
    right: 0;
  }

  .blog__title {
    padding-right: 20px;
  }

  .blog__view {
    padding: 0 18px;
  }

  .blog__view-all {
    margin: 0px auto 25px;
  }

  .foots-block__section {
    -ms-flex-direction: column;
        flex-direction: column;
    padding: 0;
  }

  .flesh-bots__view-all {
    -ms-flex-pack: center;
        justify-content: center;
    width: auto;
    text-align: center;
  }

  .new-channel__view-all {
    -ms-flex-pack: center;
        justify-content: center;
    width: auto;
    text-align: center;
  }

  .recommend__head {
    padding: 0 18px;
  }

  .recommend__item {
    padding: 0 18px;
  }
}

@media screen and (max-width: 532px) {
  .services {
    width: 460px;
  }
}

@media screen and (max-width: 512px) {
  .services {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: auto;
  }

  .services__item {
    max-width: 180px;
  }
}

@media screen and (max-width: 480px) {
  .promo__img {
    display: block;
    -ms-flex: none;
        flex: none;
    margin-right: 20px;
  }

  .promo__img img {
    width: 50px;
    height: 50px;
  }
}

@media screen and (max-width: 435px) {
  .new-stickers__item {
    max-width: 160px;
  }
}

@media screen and (max-width: 410px) {
  .services__item {
    max-width: 160px;
  }
}

@media screen and (max-width: 385px) {
  .flesh-bots__head {
    padding: 22px 18px;
    margin-bottom: 0;
  }

  .flesh-bots__more {
    display: none;
  }

  .flesh-bots__item {
    margin-bottom: 0;
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-radius: 0;
    padding: 20px 20px 17px 20px;
  }

  .flesh-bots__item:last-child {
    border-bottom: 1px solid #efefef;
  }

  .flesh-bots__img {
    display: block;
    max-width: 50px;
  }

  .flesh-bots__img img {
    max-width: 100%;
  }

  .flesh-bots__body {
    padding: 0 15px 0 0;
  }

  .flesh-bots__text {
    font-size: 13px;
  }

  .flesh-bots__view-all {
    margin: 15px 20px;
  }

  .new-channel__head {
    padding: 22px 18px;
    margin-bottom: 0;
  }

  .new-channel__more {
    display: none;
  }

  .new-channel__item {
    margin-bottom: 0;
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-radius: 0;
    padding: 20px 20px 17px 20px;
  }

  .new-channel__item:last-child {
    border-bottom: 1px solid #efefef;
  }

  .new-channel__img {
    display: block;
    max-width: 50px;
  }

  .new-channel__img img {
    max-width: 100%;
  }

  .new-channel__body {
    padding: 0 15px 0 0;
  }

  .new-channel__text {
    font-size: 13px;
  }

  .new-channel__view-all {
    margin: 15px 20px;
  }

  .new-stickers__more {
    display: none;
  }
}

@media screen and (max-width: 375px) {
  .services__item {
    max-width: 150px;
    padding: 14px 10px 12px;
  }

  .services__img {
    margin-right: 10px;
  }
}

@media screen and (max-width: 365px) {
  .new-stickers__items {
    -ms-flex-direction: column;
        flex-direction: column;
  }

  .new-stickers__item {
    max-width: 100%;
  }
}

@media screen and (max-width: 350px) {
  .blog__view-all {
    width: auto;
    text-align: center;
  }

  .services__item {
    max-width: none;
    padding: 14px 28px 12px;
  }

  .services__number {
    font-size: 25px;
  }

  .services__title {
    font-size: 14px;
  }
}