.services
    display flex
    justify-content space-between
    margin-bottom 30px
    @media screen and ( max-width 730px )
        flex-wrap wrap
        width 610px
        margin 0 auto 30px
    @media screen and ( max-width 650px )
        width 480px
        margin 0 auto 10px
    @media screen and ( max-width 532px )
        width 460px
    @media screen and ( max-width 512px )
        justify-content space-around
        width auto
        
        
    &__item
        display flex
        align-items center
        max-width 300px
        width 100%
        padding 14px 28px 12px
        text-decoration none
        border-radius 5px
        background-color #ffffff
        transition background-color 0.8s
        
        &:hover
            background-color #4bceaf
            transition background-color 0.8s
            .svg-icon
                fill #fff
        
        @media screen and ( max-width 1290px )
            max-width 250px
        @media screen and ( max-width 1110px )
            max-width 200px
        @media screen and ( max-width 860px )
            max-width 170px
            padding 14px 15px 12px
        @media screen and ( max-width 730px )
            max-width 300px
            margin-bottom 10px
        @media screen and ( max-width 650px )
            max-width 250px
            margin-bottom 20px
        @media screen and ( max-width 572px )
            max-width 230px
        @media screen and ( max-width 550px )
            max-width 220px
        @media screen and ( max-width 512px )
            max-width 180px
        @media screen and ( max-width 410px )
            max-width 160px
        @media screen and ( max-width 375px )
            max-width 150px
            padding 14px 10px 12px
        @media screen and ( max-width 350px )
            max-width none
            padding 14px 28px 12px
    
    &__img
        margin-right 26px
        @media screen and ( max-width 375px )
            margin-right 10px

        .svg-icon
            width 50px
            height 50px
            fill #4bceaf
    
    &__number
        font-size 28px
        font-family Roboto
        font-weight 400
        color #111111
        line-height 1

        @media screen and ( max-width 860px )
            font-size 19px
        @media screen and ( max-width 350px )
            font-size 25px
    
    &__title
        display block
        font-size 14px
        font-family Roboto
        font-weight 400
        color #111111
        line-height 1
        
        @media screen and ( max-width 860px )
            font-size 12px
        @media screen and ( max-width 350px )
            font-size 14px
    
    @media screen and ( min-width 901px) 
        .hidden-serv
            display none
    
    @media screen and ( max-width 900px )
        .hidden-serv-first
            display none
        