<div block="services">
    {% for item in services %}
        <a href="#" elem="item">
            <span elem="img">
                <icon name="{{ item.img }}" tag="span" class=""/>
            </span><!-- e:img -->
            <span elem="body">
                <span elem="number">
                    {{ item.number }}
                </span><!-- e:number -->
                <span elem="title">
                    <span {% if loop.last %}class="hidden-serv-first"{% endif%}>
                        {{ item.title }}                        
                    </span>
                    {% if loop.last %}
                        <span class="hidden-serv">
                            На бирже
                        </span>
                    {% endif %}
                </span><!-- e:title -->
            </span><!-- e:body -->
        </a><!-- e:item -->
    {% endfor %}
</div><!-- b:services -->