<footer block="app-footer">
   <div elem="section" class="site-width">

    <div elem="copyright">
        © tgrm.su, 2018
    </div><!-- e:copyright -->

    {% include 'menu-bot.html' %}

    <a href="#" elem="subscribe">
        Подписаться на наш канал
    </a><!-- e:subscribe -->
    
    <a href="#" elem="subscribe-site">
        Реклама на сайте
    </a><!-- e:subscribe-site -->

   </div><!-- e:section -->
</footer><!-- b:app-footer -->
