.app-footer
    flex none
    background-color #333333
    
    &__section.site-width
        display flex
        justify-content space-between
        align-items center
        padding 16px 0
        
        @media screen and (max-width 1290px)
            padding 16px 38px
        @media screen and ( max-width 980px )
            padding 16px 18px
        @media screen and ( max-width 866px )
            flex-direction column
        
        @media screen and ( max-width 866px )
            > *
                margin-bottom 15px

    &__subscribe
        padding-left 25px
        font-size 14px
        font-family Roboto
        font-weight 400
        color #ffffff
        text-decoration none
        background url('../img/subscribe.png') 0 2px no-repeat
        
        @media screen and ( max-width 866px )
            padding 20px 0 0
            background url('../img/subscribe.png') 50% 0px no-repeat
        
        &:hover
            color #179cde
    
    &__subscribe-site
        display block
        width 144px
        padding 11px 13px
        font-size 14px
        font-family Roboto
        font-weight 400
        color #111111
        text-decoration none
        border-radius 3px
        background-color #4bceaf
        transition background-color 0.8s
        
        &:hover
            background-color #28967c
            transition background-color 0.8s
    
    &__copyright
        font-size 14px
        font-family Roboto
        font-weight 400
        color #ffffff