.new-stickers
    flex none
    background-color #5c6275
    
    @media screen and ( max-width 980px )
        &__section
            padding 0 18px

            @media screen and ( max-width 385px )
                padding 0 15px !important
    
    &__head
        display flex
        justify-content space-between
        margin-bottom 22px
        padding-top 22px
        font-size 30px
        font-family Roboto
        font-weight 400
        color #fff
        @media screen and ( max-width 860px )
            font-size 24px
        
    &__more
        display block
        width 102px
        height 36px
        background url('../img/new-stickers-more.png') 0 0 no-repeat
        transition background 0.8s
        
        @media screen and ( max-width 385px )
            display none

        &:hover
            background url('../img/stickers-more-hov.png') 0 0 no-repeat
            transition background 0.8s
    
    &__items
        display flex
        margin-bottom 10px
        @media screen and ( max-width 1080px )
            justify-content space-between
        @media screen and ( max-width 600px )
            flex-wrap wrap
            justify-content space-around
            max-width 420px
            margin 0 auto
        @media screen and ( max-width 365px )
            flex-direction column

    &__item
        display flex
        align-items center
        justify-content center
        max-width 190px
        width 100%
        height 190px
        margin 0 30px 20px 0
        font-size 0
        text-align center
        text-decoration none
        background #fff
        border 2px solid transparent
        transition border 0.8s  
        
        &:hover
            border 2px solid #4bceaf
            transition border 0.8s
        
        @media screen and ( max-width 1080px )
            display none
        @media screen and ( max-width 768px )
            max-height 100%
            height auto
        @media screen and ( max-width 600px )
            margin-right 0
            display flex
        @media screen and ( max-width 435px )
            max-width 160px
        @media screen and ( max-width 365px )
            max-width 100%

    &__item:nth-child(1)
        display flex
    &__item:nth-child(2)
        display flex
    &__item:nth-child(3)
        display flex
    
    &__item--last
        position relative
        align-items flex-start
        justify-content flex-start
        margin-right 0
        padding 27px 29px 128px 29px
        font-size 16px
        font-family Roboto
        font-weight 700
        line-height 20px
        color #ffffff
        text-align left
        background-color #484d60
        
        @media screen and ( max-width 1080px )
            display flex
        @media screen and ( max-width 768px )
            padding-bottom 60px
        
        &:before
            content ''
            position absolute
            bottom 19px
            right 20px
            width 18px
            height 14px
            background url('../img/arrow-point.png') 0 0 no-repeat
        
        .hide
            margin 0
            img
                display none
    
    &__img img
        max-width 100%