<div block="new-stickers">
    <div elem="section" class="site-width">
        <div elem="head">
            Новые стикеры
            <a href="#" elem="more"></a>
        </div><!-- e:head -->
        <div elem="items">
            {% for item in newStickers %}
                <a href="#" elem="item">
                    
                    <span elem="img">
                        <img src="{{ item.img }}" alt="">
                        {{ item.title }}
                    </span><!-- e:img -->

                </a><!-- e:item -->
            {% endfor %}
            <a href="#" elem="item" mods="last">
                <span elem="img">
                    <img src="{{ item.img }}" alt="">
                    Смотреть<br>все стикеры
                </span><!-- e:img -->
            </a>
        </div><!-- e:items -->
    </div><!-- e:section -->
</div><!-- b:new-channel -->