.logo
    display flex
    font-size 0
    text-transform uppercase
    text-decoration none
    letter-spacing 1.8px
    min-width 90px
    
    @media screen and ( max-width 860px )
        > *
            font-size 20px
    
    &__bg-left
        display inline-block
        vertical-align top
        padding 14px 7px 11px 15px
        font-size 30px
        font-family "Bebas Neue"
        font-weight bold
        color #ffffff
        line-height 19.06px
        border-radius 5px 0 0 5px
        background-color #179cde

        @media screen and ( max-width 860px )
            padding 12px 7px 9px 8px
        @media screen and ( max-width 600px )
            padding 9px 10px 8px 8px
    
    &__bg-right
        display inline-block
        vertical-align top
        padding 14px 15px 11px 8px
        font-size 30px
        font-family "Bebas Neue"
        font-weight bold
        color #ffffff
        line-height 19.06px
        border-radius 0 5px 5px 0
        background-color #5c6275
        
        @media screen and ( max-width 860px )
            padding 12px 10px 9px 8px
        @media screen and ( max-width 600px )
            padding 9px 10px 8px 8px