.promo
    display flex
    width 630px
    padding 30px
    border-radius 5px
    background-color #5c6275

    @media screen and ( max-width 900px )
        width auto
    
    
    &__img
        display flex
        flex 1 0 auto
        margin-right 30px
        
        @media screen and ( max-width 480px )
            display block
            flex none
            margin-right 20px
        img
            @media screen and ( max-width 480px )
                width 50px
                height 50px

    &__body
        display flex
        flex-direction column
        
    
    &__title
        margin-bottom 12px
        font-size 16px
        font-family Roboto
        font-weight 700
        color #ffffff
    
    &__text
        margin-bottom 18px
        font-size 14px
        font-family Roboto
        font-weight 400
        color #ffffff
    
    &__button
        position relative
        padding 8px 40px 9px 15px
        width 144px
        font-size 14px
        font-family Roboto
        font-weight 400
        color #ffffff
        text-decoration none
        border-radius 3px
        background-color #179cde
        transition background-color 0.8s
        
        
        &:hover
            background-color #1087c2
            transition background-color 0.8s
        
        &:before
            content ''
            position absolute
            top 11px
            right 16px
            width 18px
            height 14px
            background url('../img/promo-arrow.png') 0 0 no-repeat