<div block="promo">
    <div elem="img">
        <img src="img/promo-img.png" alt="">
    </div><!-- e:img -->
    <div elem="body">
        <div elem="title">
            WylsacomRed
        </div><!-- e:title -->
        <div elem="text">
            Автомобили без рекламного грима. Самое 
            важное из автомобильных новинок, трендов, тенденций. 
            Ну и инсайд, куда же без него.
        </div><!-- e:text -->
        <a href="#" elem="button">
            Подписаться
        </a><!-- e:button -->
    </div><!-- e:body -->
</div><!-- b:promo -->