.foots-block
    flex none
    &__section
        display flex
        flex-wrap nowrap
        margin 26px auto 30px auto
        @media screen and ( max-width 980px )
            padding 0 18px
        @media screen and ( max-width 768px )
            justify-content space-between
            flex-direction column
        @media screen and ( max-width 540px )
            flex-direction column
            padding 0