<div block="foots-block">
    <div elem="section" class="site-width">

        {% include 'blog.html' %}

        {% include 'recommend.html' %}

    </div><!-- e:section -->
</div><!-- b:foots-block -->