html,
body
    margin 0
    padding 0
    
body 
    background #fff
    position relative

html
    min-height 100%
    min-height 100vh
    
.site-width
    max-width 1290px
    width 100%
    margin 0 auto
    
    @media all and (max-width 1290px)
        padding 0 38px

.app
    
    display flex
    flex-direction column
    height 100%
    height 100vh

    &__wrapper
        display flex
        flex-direction column
        height 100%
        height 100vh

    &__content
        display flex
        flex 1 0 auto

    &__main
        flex 1

    &__aside
        
        &--left
            order -1
            flex : 0 0 300px
            
        &--right
            flex : 0 0 300px
